/* Colors Fondo #F9F8F8 MenuSelected #89023E NavBar #EAE6E5 Fuente primaria #12130F*/
/* Fuentes
Principal font-family: 'DM Sans', sans-serif;
Secundaria font-family: 'Playfair Display', serif;
 */
/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F8F8;
    color: #12130F;
    font-family: "Space Grotesk", sans-serif;
}

.containerNavBar .navBar {
    display: none;
}

header .navBarMobile {
    background-color: #EAE6E5;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
}

/*flex brand */
header .navBarMobile .brand {
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
}

header .navBarMobile .brand img {
    width: 120px;
}

/*Menu toggle*/
#toggle {
    width: 28px;
    height: 30px;
    margin-left: auto;
    padding: 12px;
    background-color: #EAE6E5;
}

#toggle div {
    width: 100%;
    height: 5px;
    background: #12130F;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    z-index: 9999;
    position: sticky;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

.itemMenuFooter {
    display: none;
}

/* estilos MENÚ CELULAR*/


header .navBarMobile .menuMobile {
    background-color: #EAE6E5;

    width: 100%;
    height: 70vh;
    padding: 10px;

    line-height: 70px;
    text-align: left;

    margin: auto;
    display: none;
    z-index: 99999;

}

header .navBarMobile .menuMobile .itemMenuMobile {
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #12130F;
}

header .navBarMobile .menuMobile .itemMenuMobile:hover {
    color: grey;
    border-bottom: 2px solid #89023E;
    transition: 0.4s ease-in-out;
}

header .navBarMobile .menuMobile .socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

header .navBarMobile .menuMobile .socialMedia a {
    color: #12130F;
    text-decoration: none;
}

header .navBarMobile .menuMobile .socialMedia a:hover {
    font-size: 20px;
    transition: .3s ease-in-out;
}

section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    color: #BBB5BD;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    background-position: top;
    color: #BBB5BD;
}


.seccionSegunda {
    background-color: #478978;
    }

.seccionTercera {
    background-color: #F58A07;
}

.seccionCuarta {
    background-color: #DA4167;
}

.seccionQuinta {
    background-color: #083D77;
}

/* Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {

    header .navBarMobile {
        display: none;
    }

    .navBar {
        /* organización del contenido */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

       /* Asegura que esté por encima de otros elementos */
        z-index: 9999;

        /* estilos del contenido */
        height: 50px;
        position: relative;
        margin-top: -50px;
        background-color: transparent;
        backdrop-filter: blur(10px);
    }

    .navBar .itemsNavBar {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }

    .navBar .itemsNavBar .itemMenu {
        text-decoration: none;
        color: #EAF2E3;
        font-family: "Space Grotesk", sans-serif;
        font-size: 20px;
        font-weight: 900;
        position: relative;
        
    }

    .navBar .itemsNavBar .itemMenu:hover {
        color: #FAFFD8;
        border-bottom: 2px solid #FAFFD8;
        margin-top: 2px;
        /* Añade una línea debajo en el estado de hover */
    }

    /* Estilo cuando .containerNavBar está fijo en la parte superior */
    .navBar.fixed {
        margin-top: 0;
        position: fixed;
        top: 3%;
        left: 5%;
        width: 90%;
        border-radius: 5px;
        background-color: #EAF2E3;
        /* Puedes ajustar el color de fondo según tu diseño */
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px 0px, rgba(0, 0, 0, 0.23) 0px 6px 6px 0px;
        /* Sombra para resaltar */
        animation: slideDown 1.2s ease;
        /* Duración, transición y tipo de animación */
        font-family: "Space Grotesk", sans-serif;
    }

    .navBar.fixed .itemsNavBar .itemMenu {
        color: #453F78;
    }

    .navBar.fixed .itemsNavBar .itemMenu:hover {
        color: #6A668D;
        border-bottom: 2px solid #6A668D;
        margin-top: 2px;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(4%);
    }
}